{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'basic/css/speech-input.css' %}"/>
  <link rel="stylesheet" href="{% static 'basic/css/demo.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #myProgress {
      width: 100%;
      background-color: #FFFFFF;
    }

    #myBar {
      width: 1%;
      height: 7px;
      background-color: #035B98;
    }
  </style>
  <script>
      var images;
      var image_name;
      var msg;
      var width = 1;
      function send()
      {
        location.href="/basic/"+image_name.split("/")[image_name.split("/").length-1]+"/"+document.getElementById("question").innerHTML;
      }
      
      $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
      });
      
      function speak(msg)
      {
        var message = new SpeechSynthesisUtterance(msg);
        var voices = speechSynthesis.getVoices();
        voices = speechSynthesis.getVoices();
        message.voice=voices["Veena"];

        speechSynthesis.speak(message);
        var interval = setInterval(function() {
        voices = speechSynthesis.getVoices();
        if (voices.length) clearInterval(interval);
        else return;
        }, 10);
      }
      function send_wrapper(user_ans)
      {
        document.getElementById("phase1_div").style.display="none";
        width=-100;
        localStorage.setItem("user_answer",user_ans);
        ans=localStorage.getItem("user_answer");
        console.log(ans);
        console.log(document.getElementById("answer").value);
        document.getElementById("score").innerHTML="";
        if(ans==document.getElementById("answer").value){
          msg="Congratulations!! your answer is correct";
          document.getElementById("status").style.display="block";
          document.getElementById("status").src="/static/basic/imgs/happy.gif";
          document.getElementById("answer_div").appendChild(document.createTextNode("Its correct it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))+5;
          localStorage.setItem("score",sc);
          //document.getElementById("score").appendChild(document.createTextNode(""+sc));
          
        }
        else{
          msg="Sorry!! your answer is wrong";
          document.getElementById("status").style.display="block";
          document.getElementById("status").src="/static/basic/imgs/sad.gif";
          document.getElementById("answer_div").appendChild(document.createTextNode("Sorry it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))-5;          
          localStorage.setItem("score",sc);
          //document.getElementById("score").appendChild(document.createTextNode(""+sc));
        }
        speak(msg);
        setTimeout(function(){
          if(parseInt(localStorage.getItem("score"))>=20){
            if(localStorage.getItem("level")==2)
            {
              document.getElementById("alert_msg").innerHTML="";
              speak("Congratulations!! you finished the game");
              document.getElementById("alert_msg").appendChild(document.createTextNode("Congratulations!! you finished the game"));
              $("#alert").modal({show:true});
              setTimeout(function(){
                location.href="/basic/1/1";
              },5000);
            }
            else{
            localStorage.setItem("level",2);
            speak("Congratulations!! you reached phase 2 of the game");
            
            $("#alert").modal({show:true});
            setTimeout(function(){
              localStorage.setItem("score",0);
              location.href="/game/"+localStorage.getItem("level")+"/1";
              },5000)
            
            }
          }
          else
          {
            location.href="/game/"+localStorage.getItem("level")+"/1";  
          }
        },400);
      }
      function send()
      {
        document.getElementById("phase2_div_1").style.display="none";
          document.getElementById("phase2_div_2").style.display="none";
        document.getElementById("phase1_div").style.display="none";
          
        width=-100;
        localStorage.setItem("user_answer",document.getElementById("input").value.toLowerCase());
        ans=localStorage.getItem("user_answer");
        console.log(ans);
        console.log(document.getElementById("answer").value);
        document.getElementById("answer_div").innerHTML="";
        document.getElementById("score").innerHTML="";
        document.getElementById("question_div").style.display="none";
        if(ans==document.getElementById("answer").value){
          msg="Congratulations!! your answer is correct";
          document.getElementById("status").style.display="block";
          document.getElementById("status").src="/static/basic/imgs/happy.gif";
          document.getElementById("answer_div").appendChild(document.createTextNode("Its correct it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))+5;
          localStorage.setItem("score",sc);
          //document.getElementById("score").appendChild(document.createTextNode(""+sc));
          
        }
        else{
          msg="Sorry!! your answer is wrong";
          document.getElementById("status").style.display="block";
          document.getElementById("status").src="/static/basic/imgs/sad.gif";
          document.getElementById("answer_div").appendChild(document.createTextNode("Sorry it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))-5;          
          localStorage.setItem("score",sc);
          //document.getElementById("score").appendChild(document.createTextNode(""+sc));
        }
        speak(msg);
        setTimeout(function(){
          if(parseInt(localStorage.getItem("score"))>=20){
            if(localStorage.getItem("level")==2)
            {
              document.getElementById("alert_msg").innerHTML="";
              speak("Congratulations!! you finished the game");
              document.getElementById("alert_msg").appendChild(document.createTextNode("Congratulations!! you finished the game"));
              $("#alert").modal({show:true});
              setTimeout(function(){
                location.href="/basic/1/1";
              },5000);
            }
            else{
            localStorage.setItem("level",2);
            speak("Congratulations!! you reached phase 2 of the game");
            
            $("#alert").modal({show:true});
            setTimeout(function(){
              localStorage.setItem("score",0);
              location.href="/game/"+localStorage.getItem("level")+"/1";
              },5000)
            
            }
          }
          else
          {
            location.href="/game/"+localStorage.getItem("level")+"/1";  
          }
        },400);
        
        
      }
      
      function move() {
          var elem = document.getElementById("myBar");   
          width=1;
          var id = setInterval(frame, 120);
          function frame() {
            if (width >= 100) {
              speak("Sorry your time is over...");
              document.getElementById("status").style.display="block";
              document.getElementById("status").src="/static/basic/imgs/sad.gif";
              localStorage.setItem("score",parseInt(localStorage.getItem("score")-1));
              sc=parseInt(localStorage.getItem("score"))-1;
              //document.getElementById("score").appendChild(document.createTextNode(""+sc));
              location.href="/game/"+localStorage.getItem("level")+"/1";
              width=1;
            } else {
              width++; 
              elem.style.width = width + '%'; 
            }
          }
      }
      function load()
      {
        sc=parseInt(localStorage.getItem("score"));
        document.getElementById("score").appendChild(document.createTextNode(""+sc));
        console.log(localStorage.getItem("level"));
        if(localStorage.getItem("level")==2)
        {
          //document.getElementById("input").placeholder="Enter the answer";
          document.getElementById("phase2_div_1").style.display="block";
          document.getElementById("phase2_div_2").style.display="block";
          document.getElementById("phase1_div").style.display="none";
        }
        else{
          document.getElementById("phase2_div_1").style.display="none";
          document.getElementById("phase2_div_2").style.display="none";
          document.getElementById("phase1_div").style.display="block";
        }
        speak(document.getElementById("question").innerHTML);
        move();
        //$("#alert").modal({show:true});
      }
      </script>
</head>
<body onload="load()">
          <nav style="background-color:#007acc;position:absolute;left:0px">
                <div class="nav-wrapper">
                  &nbsp&nbsp&nbsp&nbsp<a href="/" class="brand-logo"><img style="height:60px;width:120px" src="{% static 'basic/imgs/logo1.png' %}"></img></a>
                  <ul id="nav-mobile" class="right">
                    <li><a href="/basic/1/1">Demo</a></li>
                    <li><a href="/game/1/1">Game</a></li>
                  </ul>
                </div>
        </nav>

    <div class="modal fade" id="alert" role="dialog">
        <!-- <div class="modal-dialog"> -->
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Alert Message</h4>
            </div>
            <div class="modal-body">
                <center><img src="/static/basic/imgs/winner.gif"></center>
              </div>
              
            <div class="modal-body">
              <center><p style="font-size:1.3em" id="alert_msg">Congratulations you have reached level 2</p></center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        <!-- </div> -->
      </div>




    <!-- <div style="position:absolute;height:100px;right:300px; top:140px">
        <p style="font-size:3em">Score</p>
        &nbsp&nbsp<p style="font-size:7em" id="score"></p>
      <br/>
    </div> -->
      <img style="display:none;position:relative;top:70px;left:530px;height:100px;width:90px;" id="status" >
      <div style="position:relative;top:10px;left:-350px" id="myCarousel">
                  <div id ="carousel" class="carousel">
                   
                    {% for img in images %}
                      <a  class="carousel-item" href="javascript:select_image('{{img}}')">
                          <div style="width:500px;" id="myProgress">
                              <div id="myBar"></div>
                            </div>
                        <img onclick="select_image('{{img}}')" style="height:400px;width:500px;" src="{{img}}">
                      </a>
                    {% endfor %}  
                  </div>
                </div>
       
              </div>

          <div style="position:relative;top:-260px;left:340px">
            <center>
                  <p style="font-size:3em">Score</p>
                  &nbsp&nbsp<p style="font-size:7em" id="score"></p>
                <br/>
            </center>
          </div>
        <input type="hidden" value="{{answer.0}}" id="answer"/>
        <input type="hidden" value="{{answer.1}}" id="confidence"/>
        <div id="phase2_div_1" style="display:none">
          <div id="question_div" style=" position:relative;top:-180px;left:300px; height:50px;width:550px; display: flex; justify-content: center; align-items: center;">
              <p style="font-size:1.65em;" id="question">{{question}}</p>
          </div>
          <div  style=" position:relative;top:-110px;left:300px; height:50px;width:550px; display: flex; justify-content: center; align-items: center;">
            <p style="font-size:1.65em;" id="answer_div"></p>
          </div>
        </div>
        <div style="display:none" id="phase1_div">
            <div id="question_div" style=" position:relative;top:-180px;left:300px; height:50px;width:550px; display: flex; justify-content: center; align-items: center;">
                <p style="font-size:1.65em;" id="question">{{question}}</p>
            </div>
          <!-- <button class="btn" style="background-color:transparent;position:relative;top:-180px;left:350px;height:130px;width:180px;"> -->
            <img  onclick="send_wrapper('animal')" style="position:relative;top:-140px;left:350px;height:100px;width:160px;" src="/static/basic/imgs/animal.png" >
            
          <!-- </button>    -->
          <!-- <button class="btn" style="background-color:transparent;position:relative;top:-180px;left:470px;height:130px;width:180px;"> -->
              <img onclick="send_wrapper('sport')" style="position:relative;top:-140px;left:470px;height:110px;width:200px;" src="/static/basic/imgs/sport.jpg" >
            <!-- </button>                -->
        </div>
    <div id="phase2_div_2" style="display:block">
    <div id="speech_input" style="position:relative;left:350px;top:-100px" >
        <input  style="width:320px"  type="text" class="speech-input" id="input" placeholder="Enter your answer" name="ques-input"/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- <button onclick="send()">Send</button> -->
        <button style="background-color:#007acc" class="btn waves-effect waves-light" type="submit" id="send" onclick="send()" name="action">Send
                <i class="material-icons right">send</i>
        </button>
</div>
</div>
  {% for img in images %}

    <input type="hidden" id="{{img}}" value="{{ forloop.counter}} "/>
  {% endfor %}
<!-- Place this tag in your head or just before your close body tag. -->
<script src="{% static 'basic/js/speech-input.js' %}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    var images;
    
    M.AutoInit();
    var elem = document.querySelector('.carousel');
    var instance = M.Carousel.init(elem);
    
    // Or with jQuery
    
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    var getLocation = function(href) {
        var l = document.createElement("a");
        l.href = href;
        return l;
    };
    var l = getLocation(document.URL);
    //alert(l.pathname.split("/")[2]);
    function replaceAll(str, find, replace) {
    return str.replace(new RegExp(find, 'g'), replace);
    }
    var instance = M.Carousel.getInstance(elem);
    console.log(l.pathname.split("/"));
    if(l.pathname.split("/")[2]!='1' && l.pathname.split("/")[2]!='2')
    {
        //console.log(l.pathname.split("/")[2]);
        instance.set(parseInt(document.getElementById("/static/basic/train_img/"+l.pathname.split("/")[2]).value)-1);
        console.log(parseInt(document.getElementById("/static/basic/train_img/"+l.pathname.split("/")[2]).value)+1);
        image_name="/static/basic/train_img/"+l.pathname.split("/")[2];
        document.getElementById("question").innerHTML="";
        question=l.pathname.split("/")[3];
        var ques;
        question=replaceAll(question,"%20"," ");
        document.getElementById("question").appendChild(document.createTextNode(question));
    }
    document.onkeydown = checkKey;

        function checkKey(e) {
            console.log("key pressed");
            e = e || window.event;
            //console.log(instance)
            if (e.keyCode == '38') {
                // up arrow
            }
            else if (e.keyCode == '40') {
                // down arrow
            }
            else if (e.keyCode == '37') {
            // left arrow
            instance.next();
            }
            else if (e.keyCode == '39') {
            // right arrow
            instance.prev();
            }
            if (e.keyCode === 13) {
              //enter button
              document.getElementById("send").click();
              //alert("okk");
          }
        }
</script>
</body>
</html>
