{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'basic/css/speech-input.css' %}"/>
  <link rel="stylesheet" href="{% static 'basic/css/demo.css' %}"/>

  <!-- <link rel="stylesheet" href="speech-input.css">
  <link rel="stylesheet" href="demo.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #myProgress {
      width: 100%;
      background-color: #FFFFFF;
    }

    #myBar {
      width: 1%;
      height: 10px;
      background-color: #035B98;
    }
  </style>
  <script>
        var images;
        var image_name;
        var ip="35.227.43.160";
        
        function load()
        {
          var xmlhttp = new XMLHttpRequest();
          var url = "http://"+ip+":8080/get_images";
    
          xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var myArr = JSON.parse(this.responseText);
                  console.log(myArr);
                  myFunction(myArr);
              }
          };
          xmlhttp.open("GET", url, true);
          xmlhttp.send();
    
        }

        function myFunction(json_obj)
        {
          images=json_obj["images"].split(",");
          img=['0','1','2','3','4'];

          for(i=0;i<images.length;++i)
          {
    
            // div=document.createElement("div");
            // a=document.createElement("a");
            // a.setAttribute("class","carousel-item");
            // a.href='javascript:select_image("'+images[i]+'")';
            // img=document.createElement("img");
            // //img.setAttribute("class","carousel-item");
            // img.setAttribute("src","http://"+ip+":8080/static/"+images[i]);
            // img.style="height:400px;width:500px;"
    
            // a.appendChild(img);
            // document.getElementById("carousel").appendChild(a);
            document.getElementById(img[i]).src="http://"+ip+":8080/static/"+images[i];
          }
        }
        function select_image(img)
        {
                image_name=img;
                console.log(image_name);
        }
        function update_question(val)
        {
          document.getElementById("question").innerHTML=val;
          //alert(val);
        }
        function send()
        {
        //   id = $('#myCarousel .active').index('#myCarousel .item');
        //   var xmlhttp = new XMLHttpRequest();
        //   var url = "/"+image_name+"/"+document.getElementById("question").innerHTML;
        //   var image_path="";
          
        //   xmlhttp.onreadystatechange = function() {
        //       if (this.readyState == 4 && this.status == 200) {
        //           document.getElementById("tab").innerHTML="";
        //           var myArr = JSON.parse(this.responseText);
        //           for(key in myArr){
        //             tr=document.createElement("tr");
        //             td1=document.createElement("td");
        //             td2=document.createElement("td");
        //             td1.innerHTML=myArr[key]["answer"];
        //             td2.innerHTML=myArr[key]["confidence"];
        //             tr.appendChild(td1);
        //             tr.appendChild(td2);
        //             document.getElementById("tab").appendChild(tr);
        //             // document.getElementById("answer").innerHTML+=myArr[key]["answer"]+"---"+myArr[key]["confidence"]+"<br/>";
        //           }
        //       }
        //   };
        //   //xmlhttp.open("GET", url, true);
        //   xmlhttp.open("GET", url, true);
        //   //xmlhttp.setRequestHeader("Content-type", "application/json");
        //   xmlhttp.send();
        
          location.href="/basic/"+image_name.split("/")[image_name.split("/").length-1]+"/"+document.getElementById("question").innerHTML;
        }
        
        $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
    });
      var msg;
      var width = 1;
      function speak(msg)
      {
        var message = new SpeechSynthesisUtterance(msg);
        var voices = speechSynthesis.getVoices();
        voices = speechSynthesis.getVoices();
        message.voice=voices["Veena"];

        speechSynthesis.speak(message);

        // Hack around voices bug
        var interval = setInterval(function() {
        voices = speechSynthesis.getVoices();
        if (voices.length) clearInterval(interval);
        else return;
        }, 10);
      }
      function send()
      {
        width=-100;
        localStorage.setItem("user_answer",document.getElementById("input").value.toLowerCase());
        ans=localStorage.getItem("user_answer");
        console.log(ans);
        console.log(document.getElementById("answer").value);
        document.getElementById("answer_div").innerHTML="";
        document.getElementById("score").innerHTML="";
        if(ans==document.getElementById("answer").value){
          msg="Congratulations!! your answer is correct";
          document.getElementById("answer_div").appendChild(document.createTextNode("Its correct it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))+5;
          localStorage.setItem("score",sc);
          document.getElementById("score").appendChild(document.createTextNode(""+sc));
          
        }
        else{
          msg="Sorry!! your answer is wrong";
          document.getElementById("answer_div").appendChild(document.createTextNode("Sorry it is "+document.getElementById("answer").value));
          sc=parseInt(localStorage.getItem("score"))-5;          
          localStorage.setItem("score",sc);
          document.getElementById("score").appendChild(document.createTextNode(""+sc));
        }
        var message = new SpeechSynthesisUtterance(msg);
        var voices = speechSynthesis.getVoices();
        voices = speechSynthesis.getVoices();
        message.voice=voices["Veena"];

        speechSynthesis.speak(message);

        // Hack around voices bug
        var interval = setInterval(function() {
        voices = speechSynthesis.getVoices();
        if (voices.length) clearInterval(interval);
        else return;
        }, 10);
        //alert(localStorage.getItem("score"));
        setTimeout(function(){
          if(parseInt(localStorage.getItem("score"))>=20){
            if(localStorage.getItem("level")==2)
            {
              document.getElementById("alert_msg").innerHTML="";
              speak("Congratulations!! you finished the game");
              document.getElementById("alert_msg").appendChild(document.createTextNode("Congratulations!! you finished the game"));
              $("#alert").modal({show:true});
              setTimeout(function(){
                location.href="/basic/1/1";
              },5000);
            }
            else{
            localStorage.setItem("level",2);
            speak("Congratulations!! you reached phase 2 of the game");
            
            $("#alert").modal({show:true});
            setTimeout(function(){
              localStorage.setItem("score",0);
              location.href="/game/"+localStorage.getItem("level")+"/1";
              },5000)
            
            }
          }else
          {
            location.href="/game/"+localStorage.getItem("level")+"/1";
            
          }
            
        },400);
        
        
      }
      
      function move() {
          var elem = document.getElementById("myBar");   
          width=1;
          var id = setInterval(frame, 100);
          function frame() {
            if (width >= 100) {
              speak("Sorry your time is over...");
              localStorage.setItem("score",parseInt(localStorage.getItem("score")-1));
              sc=parseInt(localStorage.getItem("score"))-1;
              document.getElementById("score").appendChild(document.createTextNode(""+sc));
              location.href="/game/"+localStorage.getItem("level")+"/1";
              width=1;
            } else {
              width++; 
              elem.style.width = width + '%'; 
            }
          }
      }
      function load()
      {
        sc=parseInt(localStorage.getItem("score"));
        document.getElementById("score").appendChild(document.createTextNode(""+sc));
        speak(document.getElementById("question").innerHTML);
        move();
      }
     
      </script>
</head>
<body>
    <nav style="background-color:#007acc;position:absolute;left:0px;">
                <div class="nav-wrapper">
                  &nbsp&nbsp&nbsp&nbsp<a href="/" class="brand-logo"><img style="height:60px;width:120px" src="{% static 'basic/imgs/logo1.png' %}"></img></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/basic/1/1">Demo</a></li>
                    <li><a href="/game/1/1">Game</a></li>
                      <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
                  </ul>
                </div>
    </nav>
    
  <video id="video" style="position:relative;top:150px;left:250px" width="820" height="640" controls autoplay>
    <source src="{% static 'basic/vqa.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
    Your browser does not support the video tag.
  </video>
  <script>
   document.getElementById('video').playbackRate = 1.20;
  </script>
</body>
</html>
