{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    <style>
    table {
        
        height: 100px;
        overflow-y: scroll;
    }
    </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'basic/css/speech-input.css' %}"/>
  <link rel="stylesheet" href="{% static 'basic/css/demo.css' %}"/>

  <!-- <link rel="stylesheet" href="speech-input.css">
  <link rel="stylesheet" href="demo.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
        var images;
        var image_name;
        var curr=0;
        var ip="35.227.43.160";
        localStorage.setItem("score","0");
        function load()
        {
          var xmlhttp = new XMLHttpRequest();
          var url = "http://"+ip+":8080/get_images";
    
          xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var myArr = JSON.parse(this.responseText);
                  console.log(myArr);
                  myFunction(myArr);
              }
          };
          xmlhttp.open("GET", url, true);
          xmlhttp.send();
    
        }

        function myFunction(json_obj)
        {
          images=json_obj["images"].split(",");
          img=['0','1','2','3','4'];

          for(i=0;i<images.length;++i)
          {
    
            // div=document.createElement("div");
            // a=document.createElement("a");
            // a.setAttribute("class","carousel-item");
            // a.href='javascript:select_image("'+images[i]+'")';
            // img=document.createElement("img");
            // //img.setAttribute("class","carousel-item");
            // img.setAttribute("src","http://"+ip+":8080/static/"+images[i]);
            // img.style="height:400px;width:500px;"
    
            // a.appendChild(img);
            // document.getElementById("carousel").appendChild(a);
            document.getElementById(img[i]).src="http://"+ip+":8080/static/"+images[i];
          }
        }
        function select_image(img)
        {
                image_name=img;
                console.log(image_name);
        }
        function update_question(val)
        {
          val=val.replace("colour","color");
          document.getElementById("question").innerHTML=val;
          //alert(val);
        }
        function send()
        {
        //   id = $('#myCarousel .active').index('#myCarousel .item');
        //   var xmlhttp = new XMLHttpRequest();
        //   var url = "/"+image_name+"/"+document.getElementById("question").innerHTML;
        //   var image_path="";
          
        //   xmlhttp.onreadystatechange = function() {
        //       if (this.readyState == 4 && this.status == 200) {
        //           document.getElementById("tab").innerHTML="";
        //           var myArr = JSON.parse(this.responseText);
        //           for(key in myArr){
        //             tr=document.createElement("tr");
        //             td1=document.createElement("td");
        //             td2=document.createElement("td");
        //             td1.innerHTML=myArr[key]["answer"];
        //             td2.innerHTML=myArr[key]["confidence"];
        //             tr.appendChild(td1);
        //             tr.appendChild(td2);
        //             document.getElementById("tab").appendChild(tr);
        //             // document.getElementById("answer").innerHTML+=myArr[key]["answer"]+"---"+myArr[key]["confidence"]+"<br/>";
        //           }
        //       }
        //   };
        //   //xmlhttp.open("GET", url, true);
        //   xmlhttp.open("GET", url, true);
        //   //xmlhttp.setRequestHeader("Content-type", "application/json");
        //   xmlhttp.send();
          // image_name=document.getElementById(curr).value;
          img_name=image_name.split("/")[image_name.split("/").length-1].trim();
          location.href="/basic/"+img_name+"/"+document.getElementById("question").innerHTML;
        }
        $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
    });
    localStorage.setItem("level",1);
      </script>
</head>
<body >
        <nav style="background-color:#007acc;position:absolute;left:0px;">
                <div class="nav-wrapper">
                  &nbsp&nbsp&nbsp&nbsp<a href="/" class="brand-logo"><img style="height:60px;width:120px" src="{% static 'basic/imgs/logo1.png' %}"></img></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/basic/1/1">Demo</a></li>
                    <li><a href="/game/1/1">Game</a></li>
                      <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
                  </ul>
                </div>
              </nav>
    <div id="myCarousel" style="position:absolute;left:280px;width:800px">
    <input type="hidden" id="load_image" value="{{images.0}}"/>
    <div id ="carousel" class="carousel">
        {% for img in images %}
          <a  class="carousel-item" href="javascript:select_image('{{img}}')"><img on="select_image('{{img}}')" onclick="select_image('{{img}}')" style="height:400px;width:500px;" src="{{img}}"></a>
          <!-- <a  class="carousel-item" href="javascript:select_image(1)"><img id="1" style="height:400px;width:500px;" src="loading.gif"></a>
          <a  class="carousel-item" href="javascript:select_image(2)"><img id="2" style="height:400px;width:500px;" src="loading.gif"></a>
          <a  class="carousel-item" href="javascript:select_image(3)"><img id="3" style="height:400px;width:500px;" src="loading.gif"></a>
          <a class="carousel-item" href="javascript:select_image(4)"><img id="4" style="height:400px;width:500px;" src="loading.gif"></a> -->
        {% endfor %}  
    </div>
</div>
<div>
        <div  style=" position:absolute;top:450px;left:410px; height:200px;width:250px; display: flex; justify-content: center; align-items: center;">
          <p style="font-size:1.65em;" id="question"></p>
        </div>
        <div style=" position:absolute;top:450px;left:690px; width:10px; height:200px;border-left:1px solid #000;height:220px"></div>
        <div id="answer" style=" position:absolute;top:430px;left:760px; width:700px; height: 0px">
          <table style="height:60px" id="tab">
                {% for key in answer %}
                    <tr>
                        
                        
                        <td>{{key.0}}</td>
                         <td>
                                <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{key.1}}"
                                        aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                          {{key.1}}%
                                        </div>
                                      </div>
                        </td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp{{key.1}}%</td> 
                                  <!-- <td>{{answer.key.confidence}}</td> -->
                       
                    </tr>
                {% endfor %}
          </table>
        </div>
</div>
<div style="position:absolute;left:540px;top:760px" >
        <input  style="width:320px" onfocus="update_question(this.value)" onmouseover="update_question(this.value)" oninput="update_question(this.value)" type="text" class="speech-input" placeholder="Enter the question" name="ques-input"/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <!-- <button onclick="send()">Send</button> -->
        <button style="background-color:#007acc" class="btn waves-effect waves-light" type="submit" onclick="send()" id="send" name="action">Send
                <i class="material-icons right">send</i>
        </button>
  </div>
  {% for img in images %}

    <input type="hidden" id="{{img}}" value="{{forloop.counter}} "/>
    <input type="hidden" id="{{forloop.counter}}" value="{{img}} "/>
    
  {% endfor %}
<!-- Place this tag in your head or just before your close body tag. -->
<script src="{% static 'basic/js/speech-input.js' %}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    var images;
    
    M.AutoInit();
    var elem = document.querySelector('.carousel');
    var instance = M.Carousel.init(elem);
    
    // Or with jQuery
    
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    var getLocation = function(href) {
        var l = document.createElement("a");
        l.href = href;
        return l;
    };
    var l = getLocation(document.URL);
    //alert(l.pathname.split("/")[2]);
    function replaceAll(str, find, replace) {
    return str.replace(new RegExp(find, 'g'), replace);
    }
    var instance = M.Carousel.getInstance(elem);
    if(l.pathname.split("/")[2]!='1')
    {
        console.log(l.pathname.split("/")[2]);

          instance.set(parseInt(document.getElementById("/static/basic/train_img/"+l.pathname.split("/")[2]).value)-1);        
          console.log(parseInt(document.getElementById("/static/basic/train_img/"+l.pathname.split("/")[2]).value)+1);
          image_name="/static/basic/train_img/"+l.pathname.split("/")[2];
          document.getElementById("question").innerHTML="";
          question=l.pathname.split("/")[3];
          var ques;
          question=replaceAll(question,"%20"," ");
          document.getElementById("question").appendChild(document.createTextNode(question));
          curr=document.getElementById("/static/basic/train_img/"+l.pathname.split("/")[2]).value;
          console.log(curr);
    }
    else{
      instance.set(0);
          image_name="/static/basic/train_img/"+document.getElementById("load_image").value;
          console.log(image_name);
    }
    document.onkeydown = checkKey;

        function checkKey(e) {
            console.log("key pressed");
            e = e || window.event;
            //console.log(instance)
            if (e.keyCode == '38') {
                // up arrow
                console.log($('#a.carousel-item.active').index());
                console.log(curr);
            }
            else if (e.keyCode == '40') {
                // down arrow
            }
            else if (e.keyCode == '37') {
            // left arrow
            instance.next();
            curr+=1;
            }
            else if (e.keyCode == '39') {
            // right arrow
            instance.prev();
            if(curr==0)
              curr=5
            curr-=1;
            
            }
            if (e.keyCode === 13) {
              //enter button
              document.getElementById("send").click();
          }
        }
</script>
</body>
</html>
